{{!-- set up main.handlebars file so it's able to be used by handlebars --}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="assets/css/burger_style.css" type="text/css" />
		<title>Burgers</title>
		<script src="https://code.jquery.com/jquery.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Fontdiner+Swanky" rel="stylesheet">

	</head>
	<body>
		{{{ body }}}

	<img src="/assets/img/cute_burger.jpeg" width="400px" id="cute_burger">

    <footer class= "burgerFooter">
        <div class="footer-copyright">
        </div>
    </footer>

	</body>
</html>